:root{
    --input-margin: 2px;
    --input-padding: 15px;
    --borders: 10px;
    --borders-c: 15px;
    --padding-btn: 10px;
    --margin-btn: 25px 5px 5px 5px;
    --w-container: 450px; 
    --h-container: 400px;
    --p-container: 20px;
    --shadow-c: 5.8px 7.6px 8.7px -6px rgba(0, 0, 0, 0.009),7.7px 10.1px 15.3px -6px rgba(0, 0, 0, 0.018),8.7px 11.4px 20.1px -6px rgba(0, 0, 0, 0.027),9.3px 12.2px 23.5px -6px rgba(0, 0, 0, 0.037),9.7px 12.8px 27.1px -6px rgba(0, 0, 0, 0.046),10.3px 13.5px 34.2px -6px rgba(0, 0, 0, 0.057),11px 14.5px 53.5px -6px rgba(0, 0, 0, 0.069),12.6px 16.6px 108.9px -6px rgba(0, 0, 0, 0.088),19px 25px 269px -6px rgba(0, 0, 0, 0.13);  
    --color-p: #fff;
    --color-s: #1E90FF;
    --color-t: #333;
    --color-i-form: rgb(238, 227, 227);


}

/* ESTILOS GENERALES */
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* PA CENTRAR EL FORM */
.background{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center; 
}

/* ESTILO CONTAINER FORMULARIO */
.container-f{
    background-color: #fff;
    width: var(--w-container);
    height: var(--h-container);
    border-radius: var(--borders-c);
    padding: var(--p-container);
    box-shadow: var(--shadow-c);

}

.f-t{
    text-align: center;
    color: var(--color-t);
}

/* ESTILOS DEL FORM */
.form{
    display: flex;
    flex-direction: column;
    padding: 45px;
    position: relative;
}
.input{
    margin: var(--input-margin);
    padding: var(--input-padding);
    border-radius: var(--borders);
    border: 1px solid var(--color-i-form);
    width: 100%;
}
.input:focus{
    outline: 0 none;
}
.btn-form{
    width: 100%;
    border-radius: var(--borders);
    padding: var(--padding-btn);
    margin: var(--margin-btn);
    background-color: var(--color-s);
    color: var(--color-p);
    border: none;
}
/* ICONO PASSWORD */
.password-toogle-icon{
    position: absolute;
    border: none;
    background: none;
    height: 20px;
    width: 20px;
    left: unset;
    right: 54px;
    top: 59%;
    transform: translateY(-50%);
    transform: scale(1.5);
}


/* ESTILOS LOGIN */
.i-l{
    margin: 6px;
}
.password-toogle-icon-l{
    position: absolute;
    border: none;
    background: none;
    height: 20px;
    width: 20px;
    left: unset;
    right: 54px;
    top: 45%;
    transform: translateY(-50%);
    transform: scale(1.5);
}
.text{
    padding-left: 50px;
}