.navbar{
    background-color: #000;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 0.5rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    height: 3.5rem;
    display: flex;
    align-items: center;
}
.list{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    list-style: none;
    margin-right: 700px;
    
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Versión sin prefijo, actualmente compatible con Chrome y Opera */
}.list li{
    padding: 35px;
}
.ref-box{
    position: absolute;
    top: 3.6rem;
    left: 3.8rem;
    background-color: #000;
    width: 155px;
    display: flex;
    flex-direction: column-reverse;
}
.ref-list{
    list-style: none;
    text-decoration: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Versión sin prefijo, actualmente compatible con Chrome y Opera */
    
}
.ref-list li{
    padding: 10px 5px 20px 10px;
    font-size: 16px;
}

.mov-box{
    position: absolute;
    top: 3.6rem;
    left: 17.8rem;
    background-color: #000;
    width: 155px;
    display: flex;
    flex-direction: column-reverse;
}
.mov-list li{
    padding: 10px 5px 20px 10px;
    font-size: 16px;
}